/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #01131e;
  color: #e0f2f1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 15px;
  }

}
